<!-- START THE FEATURETTES -->

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Over 50 restaurants. <span class="text-muted">Database updated daily.</span>
          </h2>
          <p class="lead">
              Restaurant Macros currently has over 600 items from over 50 popular restaurants and fast-food joints.
              We are constantly adding new restaurants and items.
          </p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive center-block" src="img/logo_plate.png" alt="Error loading image">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7 col-md-push-5">
          <h2 class="featurette-heading">Perfect for IIFYM. <span class="text-muted">Proven to be effective.</span></h2>
          <p class="lead">"If It Fits Your Macros" (IIFYM) is one of the most popular dieting strategies in the world.
              IIFYM allows you to eat whatever you'd like as long as you meet your daily calorie, carb, fat and protein goals.</p>
        </div>
        <div class="col-md-5 col-md-pull-7">
          <img class="featurette-image img-responsive center-block" src="img/logo_plate.png" alt="Generic placeholder image">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">New features added weekly.</h2>
          <p class="lead">Restaurant Macros is always being updated with new features!</p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive center-block" src="img/logo_plate.png" alt="Generic placeholder image">
        </div>
      </div>