<div class="container">
    <h1>Add Restaurant</h1>
    <!-- any errors from server -->
    <p ng-repeat="err in serverErrors">
        <span class="rm-warning">{{err.message}}</span>
    </p>

    <div style="margin-bottom: 15px;" ng-repeat="field in schema" ng-if="field.instance == 'String'">
        <p>{{field.path}}</p>
        <input class="form-control" ng-model="newRestaurant[field.path]">
    </div>

    <button class="btn btn-success" ng-click="addRestaurant()">Add</button>

    <p>
        <span class="rm-success">{{message}}</span>
    </p>

</div>