    <div class="jumbotron">
        <h1>Welcome to Restaurant Macros!</h1>
        <p class="lead">Restaurant Macros makes it easier than ever to still count macros while eating out.
            Search over 50 restaurants for food that fits perfectly into your diet.
            Sign up today to create and save an unlimited number of personalized meals!
        </p>
    </div>


    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">

      <!-- Three columns of text below the carousel -->
      <div class="row">
        <div class="col-lg-4">
            <span class="glyphicon glyphicon-search" style="font-size: 140px;"/>
            <h2>Search</h2>
            <p>Search over 50 restaurants for foods that will fit perfectly into your macros!</p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <span class="glyphicon glyphicon-list-alt" style="font-size: 140px;"/>
          <h2>Create Meals</h2>
          <p>Create meals based on your search results. If you have an account you can save your meals to view later. You can create as many meals as you'd like!</p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <span class="glyphicon glyphicon-thumbs-up" style="font-size: 140px;"/>
          <!--<img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">-->
            <h2>Enjoy</h2>
            <p>Finally you can enjoy going to a restaurant without having to worry about what to get! Let restaurant macros make it easy to plan your next night out!</p>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->

      <!-- /END THE FEATURETTES -->

    </div><!-- /.container -->