<div class="jumbotron">
    <h1>Welcome to Restaurant Macros!</h1>
    <p class="lead">Restaurant Macros makes it easier than ever to still count macros while eating out.
        Search over 50 restaurants for food that fits perfectly into your diet.
    </p>
</div>

<div class="container marketing">
    <div class="row">
        <div class="col-lg-4">
            <span class="glyphicon glyphicon-search" style="font-size: 140px;"></span>
            <h2>Search</h2>
            <p>Search over 50 restaurants for foods that will fit perfectly into your macros!</p>
        </div>
        <div class="col-lg-4">
            <span class="glyphicon glyphicon-list-alt" style="font-size: 140px;"></span>
            <h2>Create Meals</h2>
            <p>Create meals based on your search results. COMING SOON.</p>
        </div>
        <div class="col-lg-4">
            <span class="glyphicon glyphicon-thumbs-up" style="font-size: 140px;"></span>
            <h2>Enjoy</h2>
            <p>Finally you can enjoy going to a restaurant without having to worry about what to get!
            Let restaurant macros make it easy to plan your next night out!</p>
        </div>
    </div>
</div>
