    <div class="jumbotron">
        <h1>Welcome to Restaurant Macros!</h1>
        <p class="lead">Restaurant Macros makes it easier than ever to still count macros while eating out.
            Search over 50 restaurants for food that fits perfectly into your diet.
            Sign up today to create and save an unlimited number of personalized meals!
        </p>
      </div>


    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">

      <!-- Three columns of text below the carousel -->
      <div class="row">
        <div class="col-lg-4">
            <span class="glyphicon glyphicon-search" style="font-size: 140px;"/>
            <h2>Search</h2>
            <p>Something about search</p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <span class="glyphicon glyphicon-list-alt" style="font-size: 140px;"/>
          <h2>Create Meals</h2>
          <p>Create meals based on your search results. If you have an account you can save your meals to view later. You can create as many meals as you'd like!</p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <span class="glyphicon glyphicon-thumbs-up" style="font-size: 140px;"/>
          <!--<img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">-->
            <h2>Enjoy</h2>
            <p>Finally you can enjoy going to a restaurant without having to worry about what to get! Let restaurant macros make it easy to plan your next night out!</p>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->


      <!-- START THE FEATURETTES -->

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Over 50 restaurants. <span class="text-muted">Database updated daily.</span>
          </h2>
          <p class="lead">
              Restaurant Macros currently has over 600 items from over 50 popular restaurants and fast-food joints.
              We are constantly adding new restaurants and items.
          </p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive center-block" src="img/logo_plate.png" alt="Error loading image">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7 col-md-push-5">
          <h2 class="featurette-heading">Perfect for IIFYM. <span class="text-muted">Proven to be effective.</span></h2>
          <p class="lead">"If It Fits Your Macros" (IIFYM) is one of the most popular dieting strategies in the world.
              IIFYM allows you to eat whatever you'd like as long as you meet your daily calorie, carb, fat and protein goals.</p>
        </div>
        <div class="col-md-5 col-md-pull-7">
          <img class="featurette-image img-responsive center-block" src="img/logo_plate.png" alt="Generic placeholder image">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">New features added weekly.</h2>
          <p class="lead">Restaurant Macros is always being updated with new features!</p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive center-block" src="img/logo_plate.png" alt="Generic placeholder image">
        </div>
      </div>

      <hr class="featurette-divider">

      <!-- /END THE FEATURETTES -->

      <!-- FOOTER -->
      <footer>
        <p class="pull-right"><a href="/">Back to top</a></p>
        <p>Developed by Bryan Salas &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
      </footer>

    </div><!-- /.container -->