<h1>Login</h1>
<div>
  <form ng-submit="login()">
    <p>
      <label class="control-label">Username</label>
      <input type="text" placeholder="Username" ng-model="user.username" />
    </p>
    <p>
      <label class="control-label">Password</label>
      <input type="password" placeholder="Password" ng-model="user.password" /><br/>
    </p>
    <p>
      <button type="submit" class="btn btn-primary">Login</button>
    </p>
    <p>
    <i>username: admin<br/>password: admin</i>
    </p>
  </form>
  <form action="/auth/facebook" method="post">
    <div class="jumbotron text-center">

		<p>Login or Register with:</p>

      <button type="submit" class="btn btn-primary"><span class="fa fa-facebook"></span> Facebook</button>
	</div>
  </form>

</div>
