<div class="container">

    <div ng-if="selected_restaurants.length > 0;" class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Restaurants to search</h3>
        </div>
        <div ng-repeat="rest in selected_restaurants" class="panel-body">
            <div class="flex-row align-center">
                <div class="flex-one">{{rest.name}}</div>
                <span class="glyphicon glyphicon-remove" ng-click="selected_restaurants.splice($index,1);"></span>
            </div>
        </div>
    </div>

    <div ng-show="!showLoading" class="jumbotron">
        <div class="rm-search">
            <!--<h1>Still count macros while eating out.</h1>-->
            <p>Select which restaurants to search, then set a goal amount for each macro and hit go!</p>

            <input ng-class="{'warning': already_selected || no_rest_selected}" class="typeahead form-control"
                   autocomplete="off" type="text" id="restaurant" placeholder="Start typing to select restaurants"
                   ng-model="selected_restaurant" ng-change="selectedRestChanged();">

            <div class="flex-row justify-center" style="margin-top: 15px;">
                <div class="flex-row align-center macro-wrapper" ng-repeat="macro in macros">
                    <div>{{macro.name}}</div>
                    <input ng-class="{'warning': macro.error}" type="number" ng-model="macro.value" placeholder="Any" class="form-control"/>
                </div>
                <button style="margin-left: 15px;" class="btn btn-lg btn-success" ng-click="doSearch();">
                    <span ng-if="!showLoading">Go</span>
                </button>
            </div>

            <!--<div style="margin-top: 45px;" class="btn btn-lg btn-primary" ng-click="updateRestaurants();">Update Restaurant List</div>-->
        </div>

    </div>

    <div ng-if="showLoading">
        Searching... <i class="fa fa-circle-o-notch fa-spin fa-fw"></i>
    </div>
</div>


