<div class="rm-search">
    <div ng-show="!showLoading" class="jumbotron">
        <p>Select up to 2 restaurants to search, then set a goal amount for each macro and hit search!</p>
        <input ng-class="{'warning': already_selected || no_rest_selected}" class="typeahead form-control"
           autocomplete="off" type="text" id="restaurant" placeholder="Start typing to select restaurants"
           ng-model="selected_restaurant" ng-change="selectedRestChanged();" data-role="tagsinput">

        <div class="flex-row" style="margin-top: 5px; text-align: left; flex-wrap: wrap;">
            <div ng-repeat="restaurant in selected_restaurants"
                 style="display: inline; margin-top: 5px; background-color: rgba(0, 165, 149, 0.63); padding-left: 5px; border-radius: 6px; white-space: nowrap; margin-right: 5px;"><span>{{restaurant.name}} <span ng-click="selected_restaurants.splice($index,1);" class="glyphicon glyphicon-remove"/></span></div>
        </div>

        <div style="max-width: 500px; margin: 0 auto;">


            <div class="flex-row space-around">
                <div ng-repeat="macro in macros" style="margin-bottom: 15px; margin-top: 15px;">
                    <div for="{{macro.name}}">{{macro.name}}</div>
                    <input min="0" ng-class="{'warning': macro.error}" type="number" ng-model="macro.value" placeholder="Any"
                               class="form-control" id="{{macro.name}}" style="width:80px; margin: auto;"/>
                </div>
            </div>

            <button style="width: 100%; margin-top: 15px;" class="btn btn-lg btn-success" ng-click="doSearch();">
                <span ng-if="!showLoading"><span class="glyphicon glyphicon-search"></span> Search</span>
            </button>
        </div>
    </div>

    <div style="text-align: center;" ng-if="showLoading">
        Searching... <i class="fa fa-circle-o-notch fa-spin fa-fw"></i>
    </div>
</div>


