<div style="margin-top: 95px;" class="container">
    <div class="jumbotron">
        <div class="rm-search">
            <!--<h1>Still count macros while eating out.</h1>-->
            <p>Select which restaurants to search, then set a goal amount for each macro and hit go!</p>

            <div style="position: absolute; left: 25px; width: 15%; top: 145px;" class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Restaurants to search</h3>
                </div>
                <div ng-repeat="rest in selected_restaurants" class="panel-body">
                    <div style="display: flex; flex-direction: row; align-items: center">
                        <div style="flex: 1;">{{rest.name}}</div>
                        <span class="glyphicon glyphicon-remove" ng-click="selected_restaurants.splice($index,1);"></span>
                    </div>
                </div>
            </div>

            <!--<div ng-class="already_selected ? 'rm-visible' : 'rm-hidden'">Already selected {{already_selected}}!</div>-->
            <input style="width: 100%;" ng-class="{'warning': already_selected}" class="typeahead form-control"
                   autocomplete="off" type="text" id="restaurant" placeholder="Select Restaurants"
                   ng-model="selected_restaurant" ng-change="selectedRestChanged();">

            <div style="display: flex; flex-direction: row; margin-top: 15px; justify-content: center;">
                <div style="display: flex; flex-direction: row; align-items: center; margin-left: 10px;" ng-repeat="macro in macros">
                    <div style="margin-right: 10px;">{{macro.name}}</div>
                    <input style="" type="number" ng-model="macro.value" placeholder="Any" class="form-control"/>
                </div>
                <div style="margin-left: 15px;" class="btn btn-lg btn-success" ng-click="doSearch();">Go</div>
            </div>



            <!--<div style="margin-top: 45px;" class="btn btn-lg btn-primary" ng-click="updateRestaurants();">Update Restaurant List</div>-->
        </div>

    </div>
</div>


