{% include "navbar.html" %}

{% load staticfiles %}
<link href="{% static "restaurantmacros/css/home.css" %}" rel="stylesheet">

    <div class="container">

      <!-- Main component for a primary marketing message or call to action -->
      <div class="jumbotron">
        <h1>Counting macros, made easy.</h1>
        <p>Simply set the amount for each macros, hit go and browse available food from over 600 restaurants and fast food chains!</p>
          <form action="/restaurantmacros/results/" method="post">
              {% csrf_token %}
              {% for field in form %}
                  <div class="form-inline">
                      <div class="form-group">
                          {{ field.label_tag }}
                          {{ field }}
                      </div>
                  </div>
              {% endfor %}

              <p class="go-button">
                <input type="submit" value="Go" class="btn btn-lg btn-success" href="../../components/#navbar" role="button"/>
              </p>
          </form>
      </div>

    </div> <!-- /container -->

{% include "end.html" %}
