{% include "navbar.html" %}

{% load staticfiles %}
{% load addcss %}
<link href="{% static "restaurantmacros/css/home.css" %}" rel="stylesheet">

    <div class="container">
      <div class="jumbotron">
        <h1>Counting macros, made easy.</h1>
        <p>Set the goal amount for each macro, leave blank to indicate any amount. Choose restaurants to search for food within.</p>
          <form action="/results/" method="get">
              {% for field in form %}
                  <div class="form-inline">
                      <div class="form-group">
                          {{ field.label_tag }}
                          {{ field|addcss:"form-control" }}
                      </div>
                  </div>
              {% endfor %}

              <p class="go-button">
                <input type="submit" value="Go" class="btn btn-lg btn-success" role="button"/>
              </p>
          </form>
      </div>

    </div> <!-- /container -->

{% include "footer.html" %}
