
/* Go button */
p.go-button {
    padding-top: 30px;
}

div.form-group {
    padding-bottom: 10px;
}

.form-control {
    width: 85px;
    display: inline-block;
    height: 100%;
    font-size: 100%;
}

.form-inline {
    padding-top: 10px;
}

.jumbotron {
    margin-top: 50px;
    box-shadow: 0 0 2px black;
    padding:15px;
}

.jumbotron p {
    margin-bottom: 30px;
}

/* Calories, Protein etc... labels */
label {
    width: 142px;
    font-size: 24px;
}

/* mobile menu dropdown */
.navbar-toggle {
    margin-top:12px;
}

/* Counting macros, made easy */
h1 {
    margin-bottom: 27px;
}




